.entry-form {

    &__table {
        margin-top: -10px;
        border-collapse: collapse;
        font-size: 14px;
    }

    &__field-label {
        padding: 0;
        padding-top: 5px;
        min-width: 160px;
        vertical-align: top;
    }

    &__field-input {
        padding: 0;
        padding-bottom: 13px;
        min-width: 233px;
    }

    & textarea {
        min-height: 69px;
        margin-bottom: -7px;
    }

    & select {
        margin-top: 5px;
    }

}
