@import url(http://fonts.googleapis.com/css?family=PT+Sans:400&subset=latin,cyrillic);

body {
    font-family: 'PT Sans', sans-serif;
    background: #E9F3EE;
    margin: 20px 20px;
}


.link {
    color: #235FBE;
    -webkit-text-decoration-color: #BCD7E4;
    text-decoration-color: #BCD7E4;
}


.button {
    display: inline-block;
    font-size: 14px;
    color: #0B0B0B;
    box-shadow: 0px 1px 3px rgba(57, 57, 57, 0.5);
    border-radius: 4px;
    padding: 5px 15px;
    background-color: #8AE99F;
    background: linear-gradient(to bottom, #9DF8B3, #75D68B);
    cursor: pointer;
}


.input {
    margin: 0;
    padding: 5px 0 6px 5px;
    border: solid 1px #CECECE;
    border-radius: 3px;
    line-height: 13px; // в firefox по-умолчанию 14px

    &[type="search"] {
        width: 100%;
        //todo нужно сделать кастомный ClearableInput, а не патчить хаками этот зоопарк
        -webkit-appearance: textfield; // не searchfield т.к. иначе в safari высота поля дискретная,
        // паддинги на нее не влияют

        &::-webkit-search-decoration {
            -webkit-appearance: none; // разные паддинги в chrome и safari
        }
        &::-webkit-search-cancel-button {
            // margin срабатывает только в chorme,
            // пользуемся этим, чтобы сделать одинаковым отступ у [x]
            margin-right: 4px;
            margin-bottom: -1px;
        }

    }

    &:focus {
        outline: none;
        border-color: #ACACAC;
        background: #FBFAF4;
    }
}
