.input {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border: solid 1px #CECECE;
    border-radius: 3px;
    padding: 6px 0 5px 5px;
    line-height: 13px;
    font-size: 11.4px;
    font-family: Arial, sans-serif;

    &:focus {
        outline: none;
        border-color: #ACACAC;
        background: #FBFAF4;
    }

    &_searchable {
        //fixme: лушче бы сделать свой компонент, а не патчить хаками этот зоопарк
        -webkit-appearance: textfield; // не searchfield т.к. иначе в safari высота поля дискретная

        &::-webkit-search-decoration {
            -webkit-appearance: none; // разные паддинги в chrome и safari
        }
        &::-webkit-search-cancel-button {
            // margin срабатывает только в chorme,
            // пользуемся этим, чтобы сделать одинаковым отступ у [x]
            margin-right: 4px;
            margin-bottom: -1px;
        }

    }

    &_textarea {
        height: 82px;
    }

}

.select-box {
    font-size: 11.4px;
    font-family: Arial, sans-serif;
}
